.cartitems{
    margin : 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color : black;
    font-size: 14px;
    font-weight: 600;
}

body.dark-mode .cartitems-format-main {
    color: #e0e0e0;
}

.cartitems-format{
    font-size: 12px;
    font-weight: 500;
    
}
.carticon-product-icon{
    height: 70px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total h1{
    display: flex;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 200px;
    height: 45px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}
.cartitems-promocode p{
    margin-left: 80px;
    /* color: #555; */
}
.cartitems-promobox{
    border: 1px solid white;
    width: 282px;
    margin-top: 15px;
    margin-left: 130px;
    padding-left: 30px;
    height: 41.5px;
    background: #f7f5f5;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    height: 20px;
    
}
.cartitems-promobox button{
    border: none;
    width: 100px;
    height: 40px;
    font-size: 17px;
    background: black;
    color: white;
    cursor: pointer;
}
.cartitems-promobox button:hover{
    color: #ada6a6;
}

