
.placeorder-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;

}

.placeorder-container h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;

}

.placeorder-container p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;

}

.payment-options {
  display: flex;

  justify-content: space-around;
  margin-bottom: 30px;
}

.payment-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s ease;
  color: #333;
  gap: 8px;
}

.payment-options button.active,
.payment-options button:hover {
  background-color: #007bff;
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}

.billing-address,
.placeorder-form {
  flex: 1;
  min-width: 280px;
}

.billing-address h3,
.placeorder-form h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-bottom: 25px;
  color: #444;
  text-decoration: underline;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: flex;
  /* align-items: start; */
  /* justify-content: start; */
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  width: 260px;

}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.submit-button {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}


body.dark-mode .placeorder-container h2{
  color: #333;
}

body.dark-mode .placeorder-form h3{
  color: #333;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
